/*
 * SPDX-FileCopyrightText: © 2013 Robin Schneider <ypid@riseup.net>
 * SPDX-FileCopyrightText: © 2016 Michael Knight <https://github.com/dex2000>
 * SPDX-FileCopyrightText: © 2020 Kristjan ESPERANTO <https://github.com/KristjanESPERANTO>
 *
 * SPDX-License-Identifier: LGPL-3.0-only
 *
 * This file is based on work under the following copyright and
 * BSD-2-Clause permission notice:
 *
 *     SPDX-FileCopyrightText: © 2012 Dmitry Marakasov <amdmi3@amdmi3.ru>
 *     All rights reserved.
 *
 *     Redistribution and use in source and binary forms, with or without
 *     modification, are permitted provided that the following conditions are met:
 *
 *     1. Redistributions of source code must retain the above copyright notice, this
 *     list of conditions and the following disclaimer.
 *
 *     2. Redistributions in binary form must reproduce the above copyright notice,
 *     this list of conditions and the following disclaimer in the documentation
 *     and/or other materials provided with the distribution.
 *
 *     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 *     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 *     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 *     DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 *     FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 *     DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 *     SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 *     CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 *     OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 *     OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

body { font-family: sans-serif }

.permalink {
    float: right;
    margin: 0 1em;
}
p.value_explanation {
    background-color: #F8F8F8;
    border: 1px solid #DDD;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 5px;
}
/* See https://clrs.cc/ */
.error       { background: #ff851b; padding: 3px; } /* Orange */
.warning     { background: #ffdc00; padding: 3px; } /* Yellow */
div.warning_error_message { margin: 5px 0 0 0; padding: 5px; background-color : white; opacity: 0.8; font-family: monospace;}
span.year    { background: #ff851b } /* Orange */
span.week    { background: #ffdc00 } /* Yellow */
span.month   { background: #88ff88 }
span.weekday { background: #ff9999 }
span.time    { background: #88ccff }
span.rule_separator    { background: #3d9970 } /* Olive */
/* span.one_rule { text-decoration: underline } */
a.specification { color: black; text-decoration:none }
span.state   { background: #ffccff }
span.comment { background: #dddddd } /* Silver */

noscript { color: #AA4400 }
.hd {
    display:block;
    color:#710B12;
}
.hd q { display:inline }
#expression, #diff_value, .w100 { width:100% }
.nostyle { border:none }

input[type="number"] {
    width:3em;
}

input[type="number"].input__year {
    width:4em;
}

input[type="number"].input__coordinate {
    width:6em;
}

input:read-only {
    background-color: #E0E0E0;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
